<template>
  <b-modal ref="modal" title="Добавить заказ" @ok="onOk">
    <b-form @submit.prevent="onOk">
      <b-form-row>
        <b-col>
          <b-form-group label="Название">
            <b-input v-model="model.name"></b-input>
          </b-form-group>
        </b-col>
      </b-form-row>
    </b-form>
  </b-modal>
</template>

<script>
import EventBus from '@/EventBus';
import { ApiTasks } from '@/api';

function initData() {
  return {
    model: {
      name: '',
    },
  };
}
export default {
  name: 'TaskAddModal',
  data() {
    return {
      ...initData(),
    };
  },
  methods: {
    show() {
      Object.assign(this.$data, initData());
      this.$refs.modal.show();
    },
    onOk() {
      ApiTasks.create(this.model).then(() => {
        EventBus.$emit('TaskAddModal:created');
      });
    },
  },
};
</script>
