<template>
  <div>
    <b-table :items="items"></b-table>
  </div>
</template>

<script>
import { ApiOrders } from '@/api';
import EventBus from '@/EventBus';

export default {
  name: 'Orders',
  data() {
    return {
      items: [],
    };
  },
  mounted() {
    this.getData();
    EventBus.$on('OrderAddModal:created', this.getData);
  },
  methods: {
    getData() {
      ApiOrders.get().then(res => (this.items = res));
    },
  },
};
</script>

<style scoped></style>
