<template>
  <div>
    <b-table :items="items"></b-table>
  </div>
</template>

<script>
import { ApiTasks } from '@/api';
import EventBus from '@/EventBus';

export default {
  name: 'Tasks',
  data() {
    return {
      items: [],
    };
  },
  mounted() {
    this.getData();
    EventBus.$on('TaskAddModal:created', this.getData);
  },
  methods: {
    getData() {
      ApiTasks.get().then(res => (this.items = res));
    },
  },
};
</script>

<style scoped></style>
