<template>
  <div>
    <b-navbar variant="info">
      <b-navbar-nav>
        <b-nav-item v-for="(link, index) in links" :key="index">
          <router-link active-class="active" :to="{ name: link.routerName }">
            {{ link.name }}
          </router-link>
        </b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown text="Добавить" right>
          <b-dropdown-item @click="onShowOrderModal">Заказ</b-dropdown-item>
          <b-dropdown-item @click="onShowTaskModal">Задачу</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
    <OrderAddModal ref="OrderAddModal" />
    <TaskAddModal ref="TaskAddModal" />
  </div>
</template>

<script>
import OrderAddModal from '@/components/modals/OrderAddModal.vue';
import TaskAddModal from '@/components/modals/TaskAddModal.vue';

export default {
  name: 'Navbar',
  components: { OrderAddModal, TaskAddModal },
  data() {
    return {
      links: [
        { name: 'Задачи', routerName: 'tasks' },
        { name: 'Заказы', routerName: 'orders' },
      ],
    };
  },
  methods: {
    onShowOrderModal() {
      this.$refs.OrderAddModal.show();
    },
    onShowTaskModal() {
      this.$refs.TaskAddModal.show();
    },
  },
};
</script>

<style lang="scss" scoped>
a {
  color: silver;
  .active {
    color: white;
  }
}
</style>
